@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico-Regular.ttf');
}

:root {
  --ion-default-font: Comfortaa, Roboto, "Helvetica Neue", sans-serif !important;
  --pacifico-font: Pacifico, Comfortaa, Roboto, "Helvetica Neue", sans-serif !important;
}
