:host {
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 512px;
    height: 512px;
    margin: -5rem 0;
  }
}

form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-item {
    width: 100%;
  }

  ion-button {
    width: 100%;
  }
}
