<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="header">Economizapp</ion-title>
    <ion-buttons slot="end">
      <ng-container *ngIf="!isEditing">
        <ion-button color="primary" fill="clear" shape="round" (click)="toggleIsEditing()">
          <ion-icon name="create-outline"></ion-icon>
          Editar
        </ion-button>
      </ng-container>

      <ng-container *ngIf="isEditing">
        <ion-button color="success" fill="clear" shape="round" (click)="savePromo()" [disabled]="form.invalid">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Salvar
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-card>
      <ion-card-header>
        <div class="promo-store">
          <ion-input formControlName="store" required placeholder="Loja"></ion-input>
          <span slot="error" *ngIf="utilsService.isFieldInvalid(form, 'store')">Preencha o campo corretamente</span>
        </div>
        <div class="promo-product">
          <ion-input formControlName="product" required placeholder="Produto"></ion-input>
          <span slot="error" *ngIf="utilsService.isFieldInvalid(form, 'product')">Preencha o campo corretamente</span>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="promo-img">
          <img width="128" height="128" src="../../../assets/icon/product.png" />
        </div>
        <div class="promo-body">
          <div class="promo-price">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <span>R$</span>
                </ion-col>
                <ion-col>
                  <ion-input class="remove-padding" formControlName="price" required placeholder="Preço"
                    inputmode="decimal"></ion-input>
                  <span slot="error" *ngIf="utilsService.isFieldInvalid(form, 'price')">
                    Preencha o campo corretamente
                  </span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="promo-date">{{ promo?.createdAt?.toDate() | date: 'dd/MM/yyyy' }}</div>
        </div>
        <div class="promo-info">
          <input formControlName="address" required placeholder="Endereço" #search />
          <span slot="error" *ngIf="utilsService.isFieldInvalid(form, 'address')">
            Preencha o campo corretamente
          </span>
          <ng-container *ngIf="isEditing">
            <ion-button class="ion-margin-vertical" expand="block" fill="outline" size="small" shape="round"
              [disabled]="!isEditing" (click)="currentUserLocation()">
              Usar localização atual
              <ion-icon slot="start" name="locate-outline"></ion-icon>
            </ion-button>
          </ng-container>

          <ion-textarea formControlName="observation" placeholder="Observação"></ion-textarea>
          <span slot="error" *ngIf="utilsService.isFieldInvalid(form, 'observation')">
            Preencha o campo corretamente
          </span>

          <div class="promo-created-by">Publicado por: {{ promo?.createdBy }}</div>
        </div>
        <div class="promo-footer">
          <div class="promo-likes">
            <ion-icon slot="icon-only" [color]="promo?.liked ? 'danger' : 'medium'" size="large"
              name="heart-circle-outline" (click)="togglePromoLike($event, promo)"></ion-icon>
            <div class="promo-likes-qtt">{{ promo?.likes }}</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
