<ion-content class="ion-padding">
  <div class="logo">
    <img src="../../../assets/images/save-money.svg" />
    <ion-text color="white" class="ion-margin-bottom pacifico-font">Economizapp</ion-text>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" required inputmode="email"></ion-input>
      <span slot="error" *ngIf="utilsService.isFieldInvalid(form, 'email')">Campo obrigatório</span>
    </ion-item>

    <ion-item class="ion-margin-vertical">
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password" [type]="hide ? 'password' : 'text'" required></ion-input>
      <ion-icon class="ion-align-self-center" slot="end" [name]="hide ? 'eye-outline' : 'eye-off-outline'"
        (click)="hide = !hide"></ion-icon>
      <span slot="error" *ngIf="utilsService.isFieldInvalid(form, 'password')">Campo obrigatório</span>
    </ion-item>

    <ion-button class="ion-margin-vertical" expand="block" type="submit" [disabled]="form.invalid">Login</ion-button>

    <h6>
      Não tem uma conta?
      <a routerLink="/sign-up" color="success">Cadastre-se.</a>
    </h6>

    <ion-button class="social-button" (click)="loginWithGoogle()">
      <ion-icon name="logo-google"></ion-icon>
      Continuar com o Google
    </ion-button>

    <ion-button class="social-button" (click)="loginWithFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
      Continuar com o Facebook
    </ion-button>
  </form>
</ion-content>
