<ion-app>
  <ion-backdrop tappable="false" visible="false" *ngIf="isLoading"></ion-backdrop>
  <ion-router-outlet id="main-content">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="promos">
          <ion-icon name="receipt-outline"></ion-icon>
          <ion-label>Promoções</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="account">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Minha conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>
