<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="header">Economizapp</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="" *ngFor="let promo of promos">
    <ion-card (click)="goToPromo(promo)">
      <ion-card-header>
        <div class="promo-store">
          {{ promo.store }}
        </div>
        <div class="promo-product">
          {{ promo.product }}
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="promo-body">
          <div class="promo-price">R${{ promo.price }}</div>
          <div class="promo-date">{{ formatDate(promo.createdAt) }}</div>
        </div>
        <div class="promo-footer">
          <div class="promo-likes">
            <ion-icon size="large" name="heart-circle-outline"></ion-icon>
            <div class="promo-likes-qtt">{{ promo.likes }}</div>
          </div>
          <div class="promo-address">
            <ion-button size="small">Ver endereço</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
