.promo-body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .promo-price {
    color: red;
    font-size: 21px;
  }

  .promo-date {
    font-size: 12px;
  }
}

.promo-store {
  font-size: 13px;
}

.promo-product {
  padding-top: 5px;
  font-size: 18px;
  color: var(--ion-text-color);
}

.promo-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #999999;
  margin: 5px 10px;
  padding: 10px;

  .promo-address {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
