.promo-body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .promo-price {
    color: red;
    font-size: 21px;
  }

  .promo-date {
    font-size: 12px;
  }
}

.promo-store {
  font-size: 13px;
}

.promo-product {
  padding-top: 5px;
  font-size: 18px;
  color: var(--ion-text-color);
}

.promo-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  border-top: 1px solid #999999;
  margin-top: 5px;
  padding-top: 10px;

  .promo-likes {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    gap: 5px;

    .promo-likes-qtt {
      padding-top: 4px;
    }
  }
}
