<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="header">Promoções</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngFor="let promo of promos">
    <ion-card class="ion-activatable ripple-parent" (click)="navigateToPromo(promo)">
      <ion-ripple-effect></ion-ripple-effect>

      <ion-card-header>
        <div class="promo-store">
          {{ promo.store }}
        </div>
        <div class="promo-product">
          {{ promo.product }}
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="promo-body">
          <div class="promo-price">R${{ promo.price }}</div>
          <div class="promo-date">{{ promo.createdAt.toDate() | date: 'dd/MM/yyyy' }}</div>
        </div>
        <div class="promo-footer">
          <div class="promo-likes">
            <ion-icon slot="icon-only" [color]="promo.liked ? 'danger' : 'medium'" size="large"
              name="heart-circle-outline" (click)="togglePromoLike($event, promo)"></ion-icon>
            <div class="promo-likes-qtt">{{ promo.likes }}</div>
          </div>
          <div class="promo-address">
            <ion-button size="small" [routerLink]="[promo.uid]">Ver endereço</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
