ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;

  &-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;

    ion-avatar {
      .person-icon {
        fill: var(--ion-text-color);
      }
    }

    ion-fab,
    ion-fab-button {
      position: absolute;
      bottom: 2px;
      right: -3px;
      width: 24px;
      height: 24px;
      line-height: 24px;

      ion-icon {
        width: 14px;
        height: 14px;
        font-size: 14px;
      }
    }
  }
}
